@font-face {
    font-family: 'Sapiens';
    src: url("https://playsapiens.com/fonts/sapiens-webfont.woff2") format("woff2"), url("https://playsapiens.com/fonts/sapiens-webfont.woff") format("woff"), url("https://playsapiens.com/fonts/sapiens-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


h1, .vp-doc > div > h2, h3, h4 {
    font-family: "Sapiens";
}
